*.sublime-project
*.sublime-workspace

config.json

__pycache__/*

*.crt
*.key
*.csr

venv/*

.env

data/*

archive/pi1/*
archive/pi2/*
archive/pi3/*
archive/pi4/*
archive/pi5/*
archive/pi6/*
archive/pi7/*
archive/pi8/*
archive/kasa/*