[Unit]
Description=Sends live data to airtable
After=network.target
Wants=network.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
ExecStart=/home/case/venv/bin/python /home/case/CASE_sensor_network/rpi_zero_sensor/sht31d_airtable.py
WorkingDirectory=/home/case
Restart=always
RestartSec=5
User=case
# Hard memory limit (50MB)
MemoryMax=50M

# Soft CPU limit (40% of 1 core)
CPUQuota=40%

[Install]
WantedBy=multi-user.target
