[Unit]
Description=Adafruit SHT31D Temperature/Humidity Logger
After=network.target
Wants=network.target

[Service]
ExecStart=/home/case/venv/bin/python /home/case/CASE_sensor_network/rpi_zero_sensor/sht31d_logger.py
WorkingDirectory=/home/case
StandardOutput=inherit
StandardError=inherit
Restart=always
User=case

[Install]
WantedBy=multi-user.target
